# Airflow
AIRFLOW_UID=50000

# Source SFTP  (overrides the defaults set in airflow-init)
SFTP_SOURCE_HOST=sftp-source
SFTP_SOURCE_USER=user
SFTP_SOURCE_PASSWORD=password
SFTP_SOURCE_PORT=22
SFTP_SOURCE_ROOT=/home/user/upload

# Target SFTP
SFTP_TARGET_HOST=sftp-target
SFTP_TARGET_USER=user
SFTP_TARGET_PASSWORD=password
SFTP_TARGET_PORT=22
SFTP_TARGET_ROOT=/home/user/upload
